.wrapper {
  margin: 3% 5%;
}

.accordion {
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accordion {
    width: 85%;
  }
}
