.card-container {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 5%;
    padding: 40px;
    gap: 40px;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
  }
}
