.accomodation-title {
  margin: 0% 5%;
}

.accomodation-title h1 {
  margin: 0px 0px 7px 0;
  font-weight: 500;
  color: var(--main-red);
}

.accomodation-title p {
  margin: 0;
  font-weight: 500;
  color: var(--main-red)
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  padding: 0;
}

/* Style du rating et photo / nom de l'hôte */
.host-container {
  display: flex;
  justify-content: space-between;
  margin: 1% 5%;
}

.rating {
  margin-top: 20px;
}

.full-star {
  color: var(--main-red);
}

.empty-star {
  color: rgb(221, 221, 221);
}

figure svg {
  margin-right: 5px;
}

/* Style des collapse */
.accomodation-collapse-container {
  margin: 0% 5%;
}

.accomodation-descr {
  color: var(--main-red);
}

.accomodation-equip {
  color: var(--main-red);
  line-height: 5px;
}


@media screen and (min-width: 768px) {
  .information-container {
    position: relative;
  }

  .host-container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: -5px;
    right: -10px;
  }

  .rating {
    margin: 0;
    font-size: 120%
  }

  figure svg {
    margin-right: 10px;
  }
  /* Style des collapse */
  .accomodation-collapse-container{
    display: flex;
    justify-content: space-between;
  }
  
  .accomodation-descr {
    width: 45%;
  }

  .accomodation-equip {
    width: 45%;
  }
}
