.wrapper {
 /*  display: flex; 
  justify-content: center; 
  align-items: center;  */
  margin: 3% 5%;
}

.accordion {
  width: 100%;
  text-align: left;
}

.collapse-title  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  height: 45px;
  border-radius: 8px;
  background-color: var(--main-red);
  color: white;
}  

.collapse-title h3 {
  margin-left: 15px;
}

.collapse-title span {
  margin-right: 15px;
  cursor: pointer;
}

.collapse-text {
  max-height: 0;
  border-radius: 5px;
  background-color: #f0f0f0;
  overflow: hidden;
} 

.collapse-text.show {
  height: auto;
  max-height: 250px;
}