nav {
  display: flex;
  justify-content: space-between;
  margin: 1% 5%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  margin-left: 10px;
  font-size: 80%;
  list-style-type: none;
  text-transform: uppercase;
}

nav a {
  color: #FF6060;
}

.navbar-logo {
  width: 145px;
}

@media screen and (min-width: 768px) {
  nav {
    margin: 4% 5%;
  }

  nav li{
    margin-left: 40px;
    font-size: 120%;
    text-transform: capitalize;
  }

  .navbar-logo {
    width: 200px;
  }
}
