nav {
  display: flex;
  justify-content: space-between;
  margin: 3% 5%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  margin-left: 20px;
  list-style-type: none;
}

nav a {
  font-size: larger;
  color: #FF6060;
}
