footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  align-items: center;
  max-height: 200px;
}

footer img {
  width: 130px;
  margin-top: 10%;
}

footer p {
  width: 120px;
  margin-bottom: 10%;
  white-space: wrap;
  font-size:small;
  color: white;
}

@media screen and (min-width: 768px) {
  footer {
    max-height: 220px;
  }

  footer img {
    margin-top: 5%;
  }

  footer p {
    margin-bottom: 5%;
    white-space: nowrap;
    width: 300px;
  }
}
